* {
  margin: 0;
  padding: 0;
}
/* .fix-col {
  position: fixed;
  height: 79%;
  margin: 0rem -11rem;
}
@media (max-width: 1435px) {
  .fix-col {
    position: fixed;
    height: 79%;
    margin: 0rem -15rem;
  }
}
@media (max-width: 1200px) {
    .fix-col {
      position: fixed;
      height: 79%;
      margin: 0rem -15rem;
    } */
  }