*{
    margin: 0;
    padding: 0;
}
.verse{
    color: white;
    font-weight: 700;
    
}
.heading{
    font-weight: 700;
   
}
.btn1{
    color: white;
    background-color: green;
    margin: 0rem 2rem;
}
